<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMSuite">
  
  <test name="OrangeHRMTest">
	<parameter name="URLLink" value="https://opensource-demo.orangehrmlive.com/"/>
    <classes>
      <class name="Prac.OrangeHRM.PIM_User"/>
      <!-- class name="Prac.OrangeHRM.Create_Admin_User"/-->      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
